[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ever-given = {editable = true, path = "."}
docker = "*"
build = "*"

[requires]
python_version = "3.8"

[dev-packages]
pytest = "*"
pylint = "*"
flake8-annotations = "*"
mypy = "*"
sampl-pytest = {editable = true, path = "./../sampl_pytest"}
