[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"

[dev-packages]
dask = {extras = ["complete"], version = "*"}
jupyter-server-proxy = "*"
black = "==20.8b1"
isort = "*"
flake8 = "*"
graphviz = "*"

[requires]
python_version = "3.8"
