[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"

[packages.dask]
extras = ["complete"]
version = "*"

[dev-packages]
black = "==20.8b1"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"
