[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "*"
django = "==4.1"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-storages = "*"
boto3 = "*"
dask = "*"
distributed = "*"
docker = "*"
six = "*"
rollbar = "*"
jupyterlab = "*"
ipython = "*"
dask-jobqueue = "*"
rdkit = "*"

[dev-packages]
black = "*"
click = "*"
isort = "*"
pylint = "*"
pytest = "*"
flake8 = "*"
pylint-django = "*"
pytest-django = "*"
bokeh = ">=0.13.0"
pre-commit = "*"
pytest-cov = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}
django-debug-toolbar = "*"
# For local development
ever-given = {editable = true, path = "./../ever_given"}
sampl = {editable = true, path = "."}
mypy = "*"
sampl-pytest = {editable = true, path = "./../sampl_pytest"}

[requires]
python_version = "3.8"
