[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.3"
psycopg2-binary = "*"
django-crispy-forms = "*"
dask = "*"
distributed = "*"
ever-given = {editable = true, path = "./../ever_given"}

[dev-packages]
black = "==20.8b1"
isort = "*"
pylint = "*"
pytest = "*"
flake8 = "*"
pylint-django = "*"
pytest-django = "*"
docker = "*"
bokeh = ">=0.13.0"
pytest-cov = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}

[requires]
python_version = "3.7"
