container_commands:
    00_update_package_cache:
        command: "sudo yum update -y"
    01_install_dependencies:
        command: |
            sudo yum groupinstall -y 'Development Tools'
            sudo yum install -y openssl-devel libuuid-devel libseccomp-devel wget squashfs-tools
    02_install_go:
        command: |
            export VERSION=1.13 OS=linux ARCH=amd64
            wget https://dl.google.com/go/go$VERSION.$OS-$ARCH.tar.gz
            sudo tar -C /usr/local -xzvf go$VERSION.$OS-$ARCH.tar.gz
            rm go$VERSION.$OS-$ARCH.tar.gz
    03_add_go_to_path:
        command: |
            echo 'export GOPATH=${HOME}/go' >> ~/.bashrc
            echo 'export PATH=/usr/local/go/bin:${PATH}:${GOPATH}/bin' >> ~/.bashrc
            source ~/.bashrc
    04_download_singularity_repo:
        command: |
            export VERSION=3.7.3
            mkdir -p $GOPATH/src/github.com/sylabs
            cd $GOPATH/src/github.com/sylabs
            wget https://github.com/sylabs/singularity/releases/download/v${VERSION}/singularity-${VERSION}.tar.gz
            tar -xzf singularity-${VERSION}.tar.gz
            cd ./singularity
            ./mconfig
    05_compile_singularity:
        command: |
            ./mconfig
            make -C ./builddir
            make -C ./builddir install
