Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["aws-container-registry-config"]
          roleName: "aws-elasticbeanstalk-ec2-role"
files:
  "/var/app/current/.aws/config":
    mode: "000400"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://aws-container-registry-config.s3.us-east-2.amazonaws.com/config

  "/var/app/current/.aws/credentials":
    mode: "000400"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://aws-container-registry-config.s3.us-east-2.amazonaws.com/credentials
