<p class="mb-2">You may pass custom arguments to your container. Set one of string or file value for each key. Then the container will receive additional arguments in the form `--key value`. For example, if your container needs a license file as input, you may upload the license file here and it will be passed to the container as `--license path/to/file`.
</p>

<p class="mb-2">
  One additional argument may be added each time you save this submission. To add multiple additional arguments, re-edit the submission after saving.
</p>
