{% extends 'layout.html' %}
{% block content %}
<div class="card">
  <div class="card-header">Challenge</div>
  <div class="card-body">
    <h5 class="card-title">{{ challenge.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">More details at <a href="{{ challenge.repo_url }}">{{ challenge.repo_url }}</a></h6>
    <p class="card-text">
      Active from {{ challenge.start_at }} to {{ challenge.end_at }}
    </p>

    <p class="card-text">
      Containers will be invoked with the following arguments:
      <ul>
        {% for input_type in input_types %}
        <li><code>--{{ input_type.key }}</code>, <i>{{ input_type.description }}</i>, a {{ input_type.content_type.name }}</li>
        {% endfor %}
      </ul>
    </p>
    <p class="card-text">
      {% if challenge.is_active %}
        <a class="btn btn-primary" role="button" href="{% url 'submission-add' %}?challenge_id={{ challenge.pk }}">New Submission</a>
      {% else %}
        <a class="btn btn-primary disabled" role="button" href="{% url 'submission-add' %}?challenge_id={{ challenge.pk }}" aria-disabled="true">Challenge Closed to New Submissions</a>
      {% endif %}
      {% if submissions %}
      <h5>Your submissions</h5>
      <ul>
        {% for submission in submissions %}
        <li> {% include 'core/_submission_list_elem.html' with submission=submission only %}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </p>

    {% if elements %}
    <p class="card-text">
      <h5>Public Input Data</h5>
      <table class="table table-striped">
        <thead><tr>
            <td>Name</td>
            {% for input_type in input_types %}
            <td>{{ input_type.key }}</td>
            {% endfor %}
            <td>Container arguments</td>
        </tr></thead>
        <tbody>
          {% for element in elements %}
          <tr>
            {% for value in element %}
            <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
