{% extends 'layout.html' %}
{% block content %}
<h1>Your submissions</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Container</th>
    </tr>
  </thead>
<tbody>
  {% for object in object_list %}
<tr>
  <td>
    <a href="{% url 'submission-detail' object.pk %}">{{ object.name }}</a>
  </td>
  <td>
    {{ object.container.name }}
  </td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="row">
  <div class="col">
    <a class="btn btn-primary" role="button" href="{% url 'submission-add' %}">New Submission</a>
  </div>
</div>
{% endblock %}
