{% extends 'layout.html' %}
{% block content %}
<h1>{{ submission.name }}</h1>
<a class="btn btn-secondary" href="{% url 'submission-clone' submission.pk %}">Use as template</a>
{% if submission.draft_mode %}
<div class="alert alert-secondary">
  Draft mode <a class="btn btn-primary" href="{% url 'submission-update' submission.pk %}">Update</a>
</div>
{% endif %}
<form method="post" action="{% url 'submission-submit' submission.pk %}">
  {% csrf_token %}
  <input type="hidden" name="submission_id" value="{{ submission.pk }}">
  <button type="submit" class="btn btn-primary">Run Submission</button>
</form>

{% if public_run %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Public run</h5>
    <br>Key: {{ public_run.digest }}
    <br>Status: {{ public_run.status }}
    <br>Status: {{ public_status }}
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{ public_completed * 100.0 / (public_completed + public_not_completed) }}%" aria-valuenow="{{ public_completed }} " aria-valuemin="0" aria-valuemax="{{ public_completed + public_not_completed }}"></div>
    </div>
  </div>
</div>

<div class="card-deck">
  {% for evaluation in public_run.evaluation_set.all %}  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{evaluation.input_element}}</h5>
      <p class="card-text">
        Predictions:
        <dl>
          {% for prediction in evaluation.prediction_set.all %}
          <dt>{{ prediction.value_type.key }}</dt>
            <dd> {{ prediction.value }}</dd>
          {% endfor %}
        </dl>
    </p>
    {% if evaluation.log_stderr %}
    <p class="card-text">
      <h6>Error Output</h6>
      <pre>
        {{ evaluation.log_stderr }}
      </pre>
    </p>
    {% endif %}
    {% if evaluation.log_stdout %}
    <p class="card-text">
      <h6>Logging Output</h6>
      <pre>
        {{ evaluation.log_stdout }}
      </pre>
    </p>
    {% endif %}
    </div>
    <div class="card-footer"><h6>Scores</h6>
      <dl>
        {% for score in evaluation.scores.all %}
        <dt>{{ score.score_type }}</dt>
        <dd>{{ score.value }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if private_run %}
  Private run status: {{ private_run.status }}
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endif %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Container: {{ container.name }}</h5>
    <p class="card-text">Registry: {{ container.registry }}</p>
    <p class="card-text">Label: {{ container.label }}
      {% if object.container.tag %}
      tag: <span class="badge badge-primary"> {{ container.tag }}</span>
      {% endif %}
    </p>
    <p class="card-text">Version as of {{ container.updated_at }}
      {% if object.container.digest %}
      <span class="badge badge-info"> {{ container.digest }}</span>
      {% else %}
      <span class="badge badge-warning">Local copy not yet cached</span>
      {% endif %}
    </p>
  </div>
</div>
<h2>Submission details</h2>
{% for field_name, field_value in submission_details %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ field_name }}</h5>
    <p class="card-text">{{ field_value }}</p>
  </div>
</div>
{% endfor %}
{% if missing_fields %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Missing values</h5>

    <div class="alert alert-warning">must be completed before finalizing submission</div>
    <p class="card-text"><ul>
    {% for field_name in missing_fields %}
    <li>{{ field_name }}</li>
    {% endfor %}
    </ul></p>
  </div>
</div>
{% endif %}
{% endblock %}
